[Unit]
Description=Certificate Authentication Proxy Function
Documentation=https://usecallmanager.nz/certificate-enrollment.html
ConditionPathExists=/var/lib/capf/capf.sqlite3
ConditionPathExists=/var/lib/capf/capf.pem
After=network.target

[Service]
User=capf
ExecStart=/usr/local/sbin/capfd /var/lib/capf/capf.sqlite3 --capf /var/lib/capf/capf.pem

[Install]
WantedBy=multi-user.target
