[Unit]
Description=Trust Verification Service
Documentation=https://usecallmanager.nz/trust-verification.html
ConditionPathExists=/var/lib/tvs/tvs.sqlite3
ConditionPathExists=/var/lib/tvs/tvs.pem
After=network.target

[Service]
User=tvs
ExecStart=/usr/sbin/tvsd /var/lib/tvs/tvs.sqlite3 -T /var/lib/tvs/tvs.pem

[Install]
WantedBy=multi-user.target
